# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Mac
.DS_Store

# Android
libs
*.o.d

# iOS
iOS/generator/out.xml

# Python
*.pyc

# Generated
libs
local.properties

# Java
*.class

# Eclipse
bin
.settings
gen

