# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Mac
.DS_Store

# iOS
iOS/generator/out.xml

# XCode
*CXXConverter.embeddedframework
*xcuserdata/
generator/platform/ios/resources/CXXConverter/build/CXXConverter.build
samples/platform/ios/facebook/TestFacebookCXX/build/TestFacebookCXX.build/
samples/platform/ios/facebook/TestFacebookCXX/build/

# Python
*.pyc

# Android generated
local.properties
generated

# Java
*.class

# Eclipse
bin
.settings
gen

