[submodule "ios/samples/facebook-ios-sdk"]
	path = ios/samples/facebook-ios-sdk
	url = git@github-ca.corp.zynga.com:externals/facebook-ios-sdk.git
[submodule "generator/platform/ios/generator/indexer/clocxml"]
	path = generator/platform/ios/generator/indexer/clocxml
	url = https://github.com/wesjarrettsouza/clocxml.git
