// class definition template for Objectiv-C++

#if $custom_section
${custom_section}
#end if

#if $add_wrapping_constructor
#if $cxx_baseClass
${cxx_className}::${cxx_className}(void* proxyObject): $cxx_baseClass (proxyObject) {
    self = proxyObject;
}
#else
${cxx_className}::${cxx_className}(void* proxyObject) {
    self = proxyObject;
}
#end if

void * ${cxx_className}::getProxyObject() {
    return self;
}

#end if

${cxx_classMethods}
