// definition file template for Objectiv-C++

${include_headers}

${typedef_list}

using namespace std;

// custom convertors
${custom_convertors}

// generated converors
${generated_convertors}

// custom section
${custom_section}

namespace ${namespace} {
    // generated definition
    ${cxx_definitions}
}
